:root {
  --purple: #6a3dc4;
  --pink: #f70063;
  --yellow: #febd25;
  --white: #ffffff;
  --black900: #100620;
  --black700: #0f0520;
  --gray900: #241a30;
  --gray700: #323135;
  --gray500: #636363;
  --gray300: #9b96b0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--black900);
  color: var(--white);
}
body,
button,
input,
textarea {
  outline: none;
  font-family: "Comfortaa", sans-serif;
}
img {
  width: 100%;
}
a,
button {
  cursor: pointer;
  transition: all 0.3s;
  color: var(--white);
  background-color: transparent;
  font-weight: 700;
}
button,
.button-a {
  border-radius: 30px;
  padding: 12px 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.button-color,
.button-a {
  background-image: linear-gradient(120deg, var(--purple) 20%, var(--pink) 60%);
  box-shadow: -25px 0px 20px -10px var(--yellow) inset;
  border: 0 solid var(--purple);
}
.button-color:hover,
.button-a:hover {
  background-image: linear-gradient(120deg, var(--pink) 0%, var(--purple) 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
}
.button-border {
  border: 2px solid var(--white);
  padding: 10px 48px;
}
.button-border:hover {
  background-color: transparent;
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
}
.tag {
  color: var(--pink);
  font-weight: 700;
}
.title {
  font-size: 40px;
  font-weight: 700;
}
.texto {
  color: var(--gray300);
}

/* Header */
.navbar {
  background: var(--black900);
}
.navbar header {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      var(--black900),
      var(--gray700),
      var(--black900)
    )
    1;
}
.navbar header .navbar-brand img {
  max-width: 186px;
}
.navbar .navbar-nav {
  margin-left: auto;
  gap: 24px;
}
.navbar .nav-link {
  color: var(--white);
  font-weight: 700;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--purple);
}

/* Sobre Mim */
#sobre {
  padding: 180px 0 60px;
  position: relative;
}
#sobre::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.3;
  background: url("./assets/bg.png") center top no-repeat;
  background-size: contain;
  z-index: -1;
}
#sobre .title {
  font-size: 64px;
}
#sobre .texto {
  max-width: 840px;
}

/* Habilidades */
#habilidades {
  padding: 100px 0;
}
#habilidades .container {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--gray900) 0%,
    var(--black700) 100%
  );
  border: 1px solid var(--gray900);
  border-radius: 10px;
  padding: 64px 32px 32px;
}
#habilidades .texto {
  max-width: 1000px;
}

#habilidades ul li {
  text-align: center;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 5px;
}
#habilidades ul li img {
  width: 178px;
}

/* Formações */
#formacoes {
  background: url("./assets/bg_pattern.png") top center;
  padding: 100px 0;
  position: relative;
  z-index: 0;
}
#formacoes::before {
  background-color: transparent;
  background-image: linear-gradient(180deg, #0a011880 0%, var(--black700) 100%);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
#formacoes .container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 80px;
}
#formacoes .left {
  position: sticky;
  top: 80px;
  flex: 1;
  align-self: flex-start;
}
#formacoes ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
#formacoes ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--gray300);
  background-color: transparent;
  background-image: linear-gradient(215deg, #2b233880 0%, var(--gray900) 65%);
  border-radius: 10px;
  padding: 24px;
}
#formacoes ul li img {
  max-width: 320px;
  border-radius: 10px;
}

/* Clientes */
#clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  border-top: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      var(--black900),
      var(--gray700),
      var(--black900)
    )
    1;
  position: relative;
}
#clientes::before {
  content: "";
  position: absolute;
  top: -400px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.3;
  background: url("./assets/bg.png") top center no-repeat;
  background-size: contain;
  z-index: -1;
}
#clientes .texto {
  max-width: 1000px;
}
#clientes ul li {
  padding: 16px;
  border: 1px solid var(--gray900);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#clientes ul li:hover {
  border-style: solid;
  border-width: 1px;
  border-color: var(--purple);
  box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.1);
}
#clientes ul li img {
  max-width: 400px;
  filter: grayscale(1);
  transition: all 0.3s;
}
#clientes ul li:hover img {
  filter: grayscale(0);
}
#clientes ul li .descricao {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  padding: 24px 32px;
  border: 0 0 10px 10px;
  transition: all 0.3s;
}
#clientes ul li:hover .descricao {
  bottom: 0;
}
#clientes ul li .descricao a {
  text-decoration: none;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
#clientes ul li:hover .descricao a {
  opacity: 1;
  visibility: visible;
}

/* Contato */
#contato {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 80px;
  position: relative;
  padding: 100px 0;
}
#contato::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.3;
  background: url("./assets/bg.png") center top no-repeat;
  background-size: cover;
  z-index: -1;
}
#contato form {
  width: 640px;
  background-color: transparent;
  background-image: radial-gradient(
    at top left,
    var(--gray900) 0%,
    var(--black700) 100%
  );
  border: 1px solid var(--gray900);
  border-radius: 10px;
}
#contato form .form-control {
  color: var(--gray300);
  background-color: var(--black700);
  border: 1px solid var(--gray900);
  border-radius: 5px;
  padding: 8px 16px;
}
#contato form .form-control:focus {
  border: 1px solid var(--purple);
}

#contato form .form-label {
  font-weight: 900;
}

/* Dados Rodapé */
.dados {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 48px 0;
  border-top: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      var(--black900),
      var(--gray700),
      var(--black900)
    )
    1;
}
.dados img {
  max-width: 168px;
}
.dados ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--gray300);
}
.dados ul li a {
  color: var(--gray300);
  text-decoration: none;
}

/* Copy Rodapé */
.copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 14px;
  color: var(--gray500);
  border-top: 1px solid var(--gray700);
}
.copy ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}
.copy ul li a {
  color: var(--gray500);
  text-decoration: none;
}
